body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #37517e;
    font-size: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #formDataDisplay {
    padding-top: 20px;
  }
  .btn{
    background-color: #67729D;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn:hover{
      background-color: rgb(193, 8, 8);
  }
  
  p {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
    color: #37517e;
  }
  
  /* Style for even and odd paragraphs */
  p:nth-child(even) {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 4px;
  }
  